@import '_content/Thinktecture.Blazor.PwaUpdate/Thinktecture.Blazor.PwaUpdate.bundle.scp.css';

/* /Components/IconButton.razor.rz.scp.css */
.btn-icon[b-u6qfz2fs0e] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 100vh;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.45), 10px 10px 15px rgba(94,104,121,0.3);
}

.btn-icon:active[b-u6qfz2fs0e] {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    box-shadow: -10px -10px 15px rgba(255,255,255,0.45), 10px 10px 15px rgba(94,104,121,0.3), inset -10px -10px 15px rgba(255,255,255,0.45), inset 10px 10px 15px rgba(94,104,121,0.3);
}
/* /Components/ToggleIconButton.razor.rz.scp.css */
.btn-icon[b-w9apynrs3n] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 100vh;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.45), 10px 10px 15px rgba(94,104,121,0.3);
}

.btn-icon.toggled[b-w9apynrs3n] {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    box-shadow: -10px -10px 15px rgba(255,255,255,0.45), 10px 10px 15px rgba(94,104,121,0.3), inset -10px -10px 15px rgba(255,255,255,0.45), inset 10px 10px 15px rgba(94,104,121,0.3);
}
/* /Components/UserCard.razor.rz.scp.css */
.card[b-bbxfd18mun] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    height: 254px;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
    border-radius: 1rem;
}

.card.user img[b-bbxfd18mun] {
    margin-top: -10rem;
    max-width: 230px;
}

.card.user.active img[b-bbxfd18mun] {
    view-transition-name: user-image;
}

.card.user.active span[b-bbxfd18mun] {
    view-transition-name: user-name;
}

.card.user.active[b-bbxfd18mun] {
    view-transition-name: user-card;
}

.additional-info[b-bbxfd18mun] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.additional-info .card[b-bbxfd18mun] {
    height: auto;
}

.additional-info.active[b-bbxfd18mun] {
    view-transition-name: user-info;
}

@media (max-width: 763px) {
    .card.user img[b-bbxfd18mun] {
        margin-top: -12rem;
        max-width: 250px;
        max-height: 250px;
    }
}
/* /Pages/ViewTransitions.razor.rz.scp.css */
.collection[b-xcl3r3cqu4] {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    padding: 6rem 2rem 2rem;
}

.collection img[b-xcl3r3cqu4] {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
}

.collection .user-card[b-xcl3r3cqu4] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.collection .user-card.active[b-xcl3r3cqu4] {
    view-transition-name: user-card;
}

.collection .user-card.active img[b-xcl3r3cqu4] {
    view-transition-name: user-image;
}

.collection .user-card.active span[b-xcl3r3cqu4] {
    view-transition-name: user-name;
}

.collection .user-card:active[b-xcl3r3cqu4] {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.dialog[b-xcl3r3cqu4] {
    position: absolute;
    width: 30rem;
    height: 42rem;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    padding: 2rem;
    border-radius: 30px;
    background: #dde1e7;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.dialog.visible[b-xcl3r3cqu4] {
    opacity: 1;
    z-index: 100;
}

.dialog[b-xcl3r3cqu4]  .action {
    align-self: flex-end;
}

.dialog[b-xcl3r3cqu4]  .user-dialog img {
    margin-top: -3rem;
}

@media (max-width: 763px) {
    .collection[b-xcl3r3cqu4] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .collection img[b-xcl3r3cqu4] {
        width: 100px;
        height: 100px;
    }

    .collection .user-card[b-xcl3r3cqu4] {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        width: 100%;
        height: 180px;
        border-radius: 30px;
    }

    .collection .user-card span[b-xcl3r3cqu4] {
        text-align: center;
    }

    .dialog[b-xcl3r3cqu4] {
        width: 88vw;
        height: 78vh;
        top: 0;
        left: 0;
        right: 0;
    }
}
/* /Pages/ViewTransitionsDetail.razor.rz.scp.css */
.wrapper[b-qkxd2ltqt4] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 15rem 1.5rem 1.5rem 1.5rem;
}

.back[b-qkxd2ltqt4] {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    z-index: 100;
    view-transition-name: details-back;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-4gli0ir4w2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4gli0ir4w2] {
    flex: 1;
}

.sidebar[b-4gli0ir4w2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-4gli0ir4w2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-4gli0ir4w2]  a, .top-row[b-4gli0ir4w2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-4gli0ir4w2]  a:hover, .top-row[b-4gli0ir4w2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-4gli0ir4w2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-4gli0ir4w2] {
        display: none;
    }

    .top-row.auth[b-4gli0ir4w2] {
        justify-content: space-between;
    }

    .top-row[b-4gli0ir4w2]  a, .top-row[b-4gli0ir4w2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4gli0ir4w2] {
        flex-direction: row;
    }

    .sidebar[b-4gli0ir4w2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4gli0ir4w2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-4gli0ir4w2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-4gli0ir4w2], article[b-4gli0ir4w2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-m0ejw37y2w] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-m0ejw37y2w] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-m0ejw37y2w] {
    font-size: 1.1rem;
}

.oi[b-m0ejw37y2w] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-m0ejw37y2w] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-m0ejw37y2w] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-m0ejw37y2w] {
        padding-bottom: 1rem;
    }

    .nav-item[b-m0ejw37y2w]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-m0ejw37y2w]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-m0ejw37y2w]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-m0ejw37y2w] {
        display: none;
    }

    .collapse[b-m0ejw37y2w] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
