@if (_newVersionAvailable)
{
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <div class="@(_collapse ? "information collapse" : "information")">
            <div class="text">
                @InformationMessage
            </div>
            <div class="actions">
                <div class="update" onclick="@Reload">
                    @UpdateActionLabel
                </div>
                <div class="close" onclick="@(() => CollapseModal())">
                    <div class="close-icon"></div>
                </div>
            </div>
        </div>
    }
}