<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PatrickJahr.Blazor.Sample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="badging">
                <span class="oi oi-badge" aria-hidden="true"></span> Badging
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="async-clipboard">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Clipboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="file-handling">
                <span class="oi oi-file" aria-hidden="true"></span> File Handling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="web-share">
                <span class="oi oi-share" aria-hidden="true"></span> Web Share
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="screen-wake-lock">
                <span class="oi oi-monitor" aria-hidden="true"></span> Screen Wake Lock
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="view-transitions">
                <span class="oi oi-aperture" aria-hidden="true"></span> View Transitions
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}