.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    height: 254px;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
    border-radius: 1rem;
}

.card.user img {
    margin-top: -10rem;
    max-width: 300px;
    max-height: 300px;
}

.card.user.active img {
    view-transition-name: user-image;
}

.card.user.active span {
    view-transition-name: user-name;
}

.card.user.active {
    view-transition-name: user-card;
}

.additional-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.additional-info .card {
    height: auto;
}

.additional-info.active {
    view-transition-name: user-info;
}

@media (max-width: 763px) {
    .card.user img {
        margin-top: -12rem;
        max-width: 250px;
        max-height: 250px;
    }
}
